@font-face {
  font-family: "Fixel Display";
  src: url("./fonts/FixelDisplay-Medium.woff2") format("woff2"),
    url("./fonts/FixelDisplay-Medium\ \(1\).woff") format("woff"),
    url("./fonts/FixelDisplay-Medium.ttf") format("TrueType font file");
  font-style: normal;
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  font-family: "Fixel Display";
}
button {
  font: inherit;
  padding: 0;
  display: inline-block;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
  cursor: pointer;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  max-width: 1920px;
  height: 200px;
  margin: 0 auto;
  background-image: url(./assets/header.png);
  background-repeat: no-repeat;
}
main {
  padding-top: 200px;
  padding-bottom: 150px;
  max-width: 1920px;
  margin: 0 auto;

  background-image: url(./assets/elem1_.png), url(./assets/bg\ elem1.png),
    url(./assets/elem2.png), url(./assets/bg\ elem2.png),
    url(./assets/bg\ elem.png), url(./assets/elem\ 3.png),
    url(./assets/bg\ elem3.png);
  background-position: 35px -200px, 0 -50px, 800px 300px, 0 720px, 0 1420px,
    500px 2262px, 0px 2950px;
  background-repeat: no-repeat;
}

.fbx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header {
  height: 200px;
}
h1 {
  color: #fff042;
  text-shadow: 4px 4px 13px #001841;
  font-family: Scada;
  font-size: 46px;
  font-weight: 700;
  cursor: pointer;
}
ul {
  padding: 0;
  gap: 44px;
}
li {
  color: #032359;
  font-family: Scada;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.65);
  padding: 10px 18px;
}

button {
  padding: 12px 30px;
  color: #032359;
  font-family: Scada;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  background: rgb(255, 240, 66, 0.8);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background: #fff9ae;
}

button:focus {
  background: #fff8a1;
}

article {
  gap: 65px;
}

iframe {
  border-radius: 10px;
  min-width: 855px;
}
p {
  font-size: 24px;
  color: #033984;
  max-width: 575px;
  overflow-wrap: break-word;
  font-family: "Fixel Display";
}

h2 {
  font-family: Scada;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.first,
.second,
.third,
.fourth,
.fifth {
  max-width: 1600px;
  margin-bottom: 180px;
  align-items: start;
  justify-content: space-evenly;
}
.content {
  max-width: 500px;
}
.first h2 {
  color: #da6700;
}
.first iframe {
  border: solid #da67008c;
}

.second, .fourth {
  flex-wrap: wrap-reverse;
}

.second h2 {
  color: #138931;
}
.second iframe {
  border: solid #1389318c;
}

.third h2 {
  color: #00c6e1;
}
.third iframe {
  border: solid #00c6e18c;
}

.fourth h2 {
  color: #b7433c;
}
.fourth iframe {
  border: solid #b7433c8c;
}
.fifth h2 {
  color: #03519a;
}
.fifth iframe {
  border: solid #03519a8c;
}
.fifth {
  margin-bottom: 0;
}

footer {
  max-width: 1900px;
  height: 200px;
  margin: 0 auto;
  background-image: url(./assets/footer.png);
  background-repeat: no-repeat;
}
span {
  color: #fff03d;
  text-shadow: 4px 4px 13px #001841;
  font-family: Scada;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer {
  padding-left: 10px;
  padding-right: 10px;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }

  header {
    max-width: 1024px;
    height: 150px;
    margin: 0 auto;
    background-image: url(./assets/header.png);
    background-repeat: no-repeat;
  }
  main {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 940px;
    margin: 0 auto;
    background-color: #fff;
    background-image: none;
  }
  .header {
    height: 150px;
  }
  h1 {
    font-size: 36px;
  }

  ul {
    padding: 0;
    gap: 16px;
  }
  li {
    font-size: 22px;
    padding: 10px 12px;
  }
  button {
    padding: 8px 20px;
    font-size: 26px;
  }
  article {
    gap: 30px;
  }
  iframe {
    width: 940px;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
  }
  p {
    font-size: 20px;
    min-width: 940px;
  }
  .content {
    /* margin-bottom: 35px; */
    min-width: 940px;
  }
  .first,
  .second,
  .third,
  .fourth,
  .fifth {
    max-width: 940px;
    margin-bottom: 0;
    margin-bottom: 30px;
  }
  .first,
  .third,
  .fifth {
    flex-wrap: wrap-reverse;
  }
  .second,
  .fourth {
    flex-wrap: wrap;
  }
  footer {
    max-width: 1024px;
    height: 150px;
  }
  span {
    font-size: 36px;
  }
  .footer {
    height: 150px;
  }
}
